---
name: Test

on:
  - push
  - pull_request

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system:
          - ubuntu-latest
        ocaml-version:
          - 4.13.x
    steps:
      - uses: actions/checkout@v2
      - name: Setup OCaml ${{ matrix.ocaml-version }}
        uses: ocaml/setup-ocaml@v2
        with:
          ocaml-compiler: ${{ matrix.ocaml-version }}
          dune-cache: true
      - name: Install Dependencies
        run: opam install . --deps-only --with-test
      - name: Run Tests
        run: opam exec -- dune runtest